* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1;
  color: #333;
  font-weight: 400;
  background-image: url("./assets/desktop-3261767_1920.jpg");
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9.6rem;
  font-family: "Roboto", sans-serif;
}
.header h1 {
  color: rgb(147, 35, 102);
  font-size: 5.8rem;
  background-color: rgba(250, 249, 249, 0.5);
  padding: 0.5rem 1.6rem;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 4.6rem 0;
}
.write_task {
  max-width: 100%;
  display: flex;
  align-items: center;
}
.todo-input {
  max-width: 100%;
  padding: 1.6rem 20.6rem 1.6rem 1.2rem;
  font-size: 2rem;
  border: none;
  font-weight: 600;
  color: inherit;
  box-shadow: inset 0px 0px 4px 0px #932366;
  border-radius: 9px;
  flex-shrink: 1;
}

.todo-input:focus {
  outline: none;
}
.todo-button {
  width: 4.8rem;
  height: 4.8rem;
  font-size: 4.4rem;
  border: none;
  color: rgb(147, 35, 102);
  background-color: transparent;
}
.filter-todo {
  width: 16rem;
  height: 4.2rem;
  border: none;
}
.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6.8rem;
  max-width: 100%;
}
.todo {
  display: flex;
  /* max-width: 120rem; */
  padding: 1.2rem;
  font-size: 1.8rem;
  border-radius: 9px;
  box-shadow: inset 0px 0px 4px 0px #932366;
}
.todo-list {
  list-style: none;
  width: 100rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}
.todo {
  margin: 0.5rem;

  background: white;
  color: rgb(24, 17, 6);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.todo li {
  flex: 1;
}
.trash-btn,
.complete-btn {
  background-color: white;
  border: none;
  color: rgb(134, 101, 54);
  padding: 1rem;

  cursor: pointer;
}
.complete-btn {
  color: rgb(97, 156, 7);
}
.complete-btn:hover {
  background: rgb(97, 156, 7);
  color: white;
  transition: all 0.5s ease-in-out;
}
.trash-btn {
  color: rgb(243, 102, 59);
}
.trash-btn:hover {
  background: rgb(243, 102, 59);
  color: white;
  transition: all 0.3s ease-in-out;
}
.todo-item {
  font-size: 2rem;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  background: rgba(97, 156, 7, 0.2);
}
.fall {
  transform: translateY(20rem) rotateY(20deg);
  opacity: 0;
}
/* select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  flex-shrink: 2;
} */
.select {
  margin: 1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
select {
  color: black;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
  font-size: large;
  flex-shrink: 2;
}
/* .select::after {
  content: "\25BC";
  position: absolute;
  background: white;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
} */

/* Tablet (768/16=48em */
@media (max-width: 48em) {
  html {
    font-size: 56.2%;
  }
  .header h1 {
    font-size: 5rem;
  }
  .todo-input {
    padding: 1.2rem 20rem 1.2rem 1rem;
  }
  .todo {
    padding: 1rem;
  }
}
/* 544px/16=34em */
@media (max-width: 34em) {
  html {
    font-size: 50%;
  }
  .todo {
    padding: 0.8rem;
  }
}

/* Mobile L (425px) */

@media (max-width: 26.5em) {
  html {
    font-size: 46%;
  }
  .todo-container {
    padding: 0 4rem;
  }
  .todo-input {
    padding: 1.2rem 2rem 1.2rem 1rem;
  }
}
